/* navbar styles */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Style the links inside the navbar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style the input container */
.navbar .input-container {
  float: right;
  /* margin: 10px;
  margin-right: 16px; */
}

/* Style the input field inside the navbar */
.navbar .input-field {
  width: 300px; /* Full-width */
  /* Rounded borders */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 6px;
  outline: none;
  float: right;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Label style for search*/
.navbar .label {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 17px;
  color: white;
}


/* Style the navbar search button */
.navbar .btn {
  float: right;
  margin: 10px;
  margin-right: 16px;
  background-color: #ddd;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Style the navbar search button on hover */
.navbar .btn:hover {
  background-color: #ccc;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a, .navbar .input-container {
    float: none;
    display: block;
  }
  .navbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
  }
  .navbar .btn {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
  }
}