/* navbar styles */
.navbar {
  background-color: #f2f2f2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-right: none;
  padding-right: none;
  z-index: 1;
}

/* Media query for responsiveness */
@media screen and (max-width: 800px) {

  #noDis,
  .navbar__right__item {
    float: none;
    /* Remove float */
    display: none;
    /* Display links vertically */
    text-align: left;
    /* Align text to the left */
    padding: 10px;
    /* Reduce padding for smaller screens */
    font-size: 16px;
    /* Adjust font size */
  }

  #oc {
    background-color: white;
  }

  #menu {
    display: block;
  }
}

menuitem {
  display: none;
}

/* Style the links inside the navbar */
.navbar a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.2s ease;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #222;
  color: white;
}

.navbar a:hover span {
  color: white;
}

/* Active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Style the input container */
.navbar .input-container {
  float: right;
  margin-top: 5px;
  margin-right: 16px;
}

/* Style the input field inside the navbar */
.navbar .input-field {
  width: 300px;
  /* Full-width */
  /* Rounded borders */
  border: 2px solid #444;
  border-radius: 10px;
  padding: 6px;
  outline: none;
  float: right;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: #f2f2f2;
}

/* Label style for search*/
.navbar .label {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 17px;
  color: #333;
}

/* Style the navbar search button */
.navbar .btn {
  float: right;
  margin: 10px;
  margin-right: 16px;
  background-color: #222;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Style the navbar search button on hover */
.navbar .btn:hover {
  background-color: #333;
  color: #f2f2f2;
}

/* Style the sign out button */
.navbar .input-container button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar .input-container button:hover {
  background-color: #333333;
  color: white;
}